<div class="second-step-regiestration">
<div class="modal-header d-flex justify-content-between"  >
  
            <mat-icon class="close-icon"></mat-icon>
            <div class="logo-image"> <img style="width:28px ; height:28px" src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-logo-vector-png-clipart-1.png"></div>
            <div class="nothing"></div>
</div>
<br>
<div class="customize-text">
    <h3 class="cust-text">Customize your experience</h3>
    <br>
    <h3 class="drop-text">Track where you see Twitter content across the web</h3>
    <h4 class="lower-text">Twitter uses this data to personalize your experience.This web<br> browsing history will never be stored with your name, email, or phone number.</h4>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="agree-area d-flex">
    <p class="lower-text">Agree with the term and Conditons &nbsp;&nbsp;</p>
    <div class="checkBox-Icon"><mat-checkbox></mat-checkbox></div>
</div>


<button class="sub">Submit</button>

<br>
<br>

</div>